<%= render 'partials/stats_header' %>

<div class='stats-sub-heading'>
  <h1>Heading 5 Choices</h2>
  <h2><%= @changes %> changes have been made to this component.</h2>
</div>

<div class='container graph-div'>
  <%= render("partials/show_stats") %>
</div>
  <%= render 'partials/stats_footer' %>
