<div class="modal fade" id='instructions' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">How to Use - Making a Change</h2>
      </div>
      <div class="modal-body">
        <ul>
          <li>When you click on a component, you will be brought to a voting page</li>
          <li>The component that you clicked will change in some way, shape, or form</li>
          <li>Use the panel to <strong>like</strong> or <strong>dislike</strong> this change</li>
          <li>Every time you like something, it affects how your template will look</li>
          <li>The <span id='green' class='glyphicon glyphicon-ok'></span> means you like the change</li>
  <!--           <div>
              <ul>
                <li>This will have an impact on the overall template</li>
              </ul>
            </div> -->
          <li>The <span id='red' class='glyphicon glyphicon-remove'></span> means you do not like the changes</li>
<!--           <div>
            <ul>
              <li>
                This will not have an impact on the overall template
              </li>
            </ul>
          </div> -->
          <li>You can like or dislike styles any amount of times</li>
          <li>When you want to see your changes, click the 'DONE' button</li>
          <li>The changes you make will be saved forever to your template</li>
          <li>Choose wisely!</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning center-block" data-dismiss="modal">Got It</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->