<div class="modal fade" id='instructions' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">How it Works - Making a Change</h2>
      </div>
      <div class="modal-body">
        <ul>
          <li>Youi uses averaging algorithms to dynamically render styles based on components you like</li>
          <li>Upon clicking a component, you will be brought to a page with our voting panel</li>
          <li>Notice the component you clicked <strong>will have undergone</strong> a change</li>
          <li>Use the voting panel to <strong>like</strong> or <strong>dislike</strong> this change</li>
          <li>You can vote as many times as you want</li>
          <li>When you want to see your changes, click the 'DONE' button</li>
          <li>Choose wisely!</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning center-block" data-dismiss="modal">Got It</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->