<div class="modal fade text-center" id='save' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Save</h2>
      </div>
      <div class="modal-body">
        <h4>The following link will always bring you back to your current session: </h4>
        <hr>
        <div class='copy-div'>
          <code id='copy-data'>www.youiapp.co/user/<%= @cookie %></code>
          <button class='copy btn btn-default glyphicon glyphicon-copy' data-clipboard-action='copy' data-clipboard-target='#copy-data'></button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning center-block" data-dismiss="modal">Got It</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->