<div class='main-instructions'>
  <span class='loud'>
      Youi've made 60 changes
  </span>
  <h2>Instructions:</h2>
  <ul>
    <li>Most of what you see on this page CAN be changed!</li>
    <li>
      Individual components (like the 'Youi' text in the top-left corner of the page) are changeable if they have a  <span class='green'>green</span> border when you <strong>hover over them</strong>.
    </li>
    <li>
      Sections such as the footer can be changed using the <strong>set of buttons below</strong>.
    </li>
    <li>
      Click the <strong>'Edit Mode'</strong> button at the top to turn off the hover interactions so you can see your <em>beautiful</em> site!
    </li>
    <li>
      To learn more, please scroll below and read the "About" section.
    </li>
    <li>Oh, and don't forget to read the directions!</li>
  </ul>
</div>