

<div class='container-fluid'>
  <header class='header'>
    <div class='row'>
      
      <div class='col-md-2'>
        <h1 class='h1_header'>youi</h1>
      </div>
      
      <div class='col-md-10'>
        <nav class='nav'>
          <ul>
            <li>
              Stats
            </li>
            <li>
              Login
            </li>
          </ul>
        </nav>
      </div>
      
    </div>
  </header>
  
  <section class='instructions'>
    <span class='loud'>
      It's Your Site
    </span>
    <p>
      Components with a <span class='green'>green</span> border are individually editable
    </p>
    <p>
     Sections with a <span class='>blue</span> border mean you can edit an entire container (i.e. color scheme, spacing)
    </p>
    <button>
      Try Me
    </button>
  </section>
  <section class='info'>
    <div class='container'>
       <h2 class='h2-selector'>About</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ratione labore fuga harum ad laboriosam dicta veritatis temporibus obcaecati libero optio non alias fugiat mollitia iure, iusto porro itaque rerum!
      </p>
      
      <div class='inspirations'>
      <h2 class='h2-selector'>Inspirations</h2>
      <div class='row'>
        
        <div class='col-md-6'>
          <figure>
            <img src="#" alt="#" />
            <h4>Twitch plays pokemon</h4>
          </figure>
          
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quibusdam cupiditate harum nesciunt placeat, accusantium at voluptatem itaque adipisci, nulla tenetur explicabo unde. Autem blanditiis, qui non rerum eveniet praesentium.
          </p>
        </div>
        
        <div class='col-md-6'>
           <figure>
            <img src="#" alt="#" />
            <h4>Twitch plays pokemon</h4>
          </figure>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quibusdam cupiditate harum nesciunt placeat, accusantium at voluptatem itaque adipisci, nulla tenetur explicabo unde. Autem blanditiis, qui non rerum eveniet praesentium.
          </p>
        </div>
        
      </div>
      </div>
      
      <div class='site-editables'>
      <h2 class='h2-selector'>Site-wide Editables</h2>
      <ul>
        <li>
          <button>Heading Fonts</button>
        </li>
        <li>
          <button>Body Font</button>
        </li>
      </ul>
      </div>
      
    </div>
  </section>
  
  <footer class='footer'>
    <p>Curated by Greg Perlman. Copyright 2016</p>
  </footer>
</div>