/**~~~~~~~~~~~~~**/
/** Stats Pages
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~**/


.home-stats {
  text-align: center;
}

.fun-facts {
  text-align: center;
}

.tab {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  text-align:center;
}