.vote-gui {
  min-width: 300px;
  text-align: center;
  position: fixed;
  z-index: 999;
  border: 5px solid black;
  padding: 25px;
  font-size: 32px;
  background-color: #fff;
}

.vote-gui:hover {
  border-color: grey;
  cursor: pointer;
}

.vote-gui:hover .move {
  color:orange;
}

.move {
  position: absolute;
  top: 10px;
  right: 10px;
}

.current-styles {
  p {
    font-size: 14px;
  }
}

.how-to-use {
  cursor: help;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 10px;
}

.modal {
  z-index: 9999;
}