.vote-gui {
  min-width: 600px;
  text-align: center;
  position: fixed;
  z-index: 999;
  border: 5px solid black;
  padding: 25px;
  font-size: 32px;
  background-color: #fff;
}

.vote-gui:hover {
  border-color: grey;
  cursor: pointer;
}

.vote-gui:hover .move {
  color:red;
}

.move {
  position: absolute;
  top: 5px;
  right: 5px;
}